{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href = "{% static 'style.css' %}"/>
    <script src = "{% static 'app.js' %}"defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>Wordle</title>
</head>
<body>

    <div id="overlay">
        <div id = "modal">
            <h1></h1>
        </div>
    </div>

    <div class="game-container">
        <div class="title-container">
            <h1>Wordle</h1>
        </div>
        <div class="message-container">
            <h3 id='mess'></h3> 
        </div>
        <div class="tile-container"></div> 
        <div class="key-container"></div>
    </div>
</body>
</html>