{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sudStyle.css' %}"/>
    <script src = "{% static 'sudApp.js' %}"defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>Sudoku</title>
</head>
<body>
    <div class="game-container">
        <div class="title-container">
            Sudoku
        </div>
        <div class = "table container">
            <table id = "sudGrid" class="sudGrid">
            </table>
        </div>   
        <div>  
            <button class="subButton" id = 'subButton'>Click Me</button>  
        </div>
    </div>
</body>
<div id = 'gridNums' class = 'hideChar'> {{ gridString }} </div> 
</html>